@import ../config/colors
@import ../config/breakpoints
  
.nav
  height: 200px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 120px
  +media($breakpoint-md) 
    height: 100px
    padding: 60px
  +media($breakpoint-sm)
    height: 80px
    padding: 32px

.nav__brand
  color: $color-black
  font-weight: 900
  font-size: 38px
  text-decoration: none

.nav__icon
  height: 65px