@import ../config/colors
  
.nav
  height: 200px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 120px

.nav__brand
  color: $color-black
  font-weight: 900
  font-size: 38px
  text-decoration: none

.nav__icon
  height: 65px